# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/tests/src/e2e @wh-alice @qinzhouxu @llhmm01 @tecton @sherylueen @Alive-Fish @HuihuiWu-Microsoft @yuqizhou77 @qinqingxu

/templates/ @wh-alice @qinzhouxu @llhmm01 @tecton @sherylueen @Alive-Fish @HuihuiWu-Microsoft @yuqizhou77 @qinqingxu

./lerna.json @wh-alice @qinzhouxu @llhmm01 @tecton
./pnpm-workspace.yaml @wh-alice @qinzhouxu @llhmm01 @tecton
/.github/CODEOWNERS @wh-alice @zhenjiao-ms
/.github/actions @wh-alice @qinzhouxu @llhmm01
/.github/workflows/cd.yml @wh-alice @qinzhouxu @llhmm01 @tecton
/.github/workflows/templates-ci.yml @wh-alice @qinzhouxu @llhmm01 @tecton

/Localize @HuihuiWu-Microsoft @tecton @wh-alice

/packages/api @tecton @llhmm01 @wh-alice
/packages/cli @tecton @HuihuiWu-Microsoft @Alive-Fish @wh-alice
/packages/dotnet-sdk @tecton @wh-alice @HuihuiWu-Microsoft
/packages/function-extension @wh-alice

/packages/fx-core @tecton @llhmm01 @HuihuiWu-Microsoft @wh-alice
/packages/fx-core/resource/package.nls.json @summzhan @sffamily @supkasar
/packages/fx-core/resource/yaml-schema @tecton @wh-alice

/packages/fx-core/src/component/debugHandler @qinzhouxu @tecton @llhmm01 @wh-alice
/packages/fx-core/src/component/deps-checker @qinzhouxu @tecton @llhmm01 @wh-alice

/packages/fx-core/src/component/driver/aad  @Alive-Fish @tecton @HuihuiWu-Microsoft @wh-alice
/packages/fx-core/src/component/driver/apiKey @Alive-Fish @tecton @HuihuiWu-Microsoft @wh-alice
/packages/fx-core/src/component/driver/oauth @Alive-Fish @tecton @HuihuiWu-Microsoft @wh-alice
/packages/fx-core/src/component/driver/typeSpec @Alive-Fish @tecton @HuihuiWu-Microsoft @wh-alice
/packages/fx-core/src/component/driver/deploy/spfx @HuihuiWu-Microsoft @tecton @wh-alice
/packages/fx-core/src/component/driver/oauth @Alive-Fish @tecton @HuihuiWu-Microsoft @wh-alice
/packages/fx-core/src/component/driver/typeSpec @tecton @HuihuiWu-Microsoft @Alive-Fish @wh-alice

/packages/fx-core/src/component/generator/declarativeAgent @tecton @HuihuiWu-Microsoft @Alive-Fish @wh-alice
/packages/fx-core/src/component/generator/officeAddin @llhmm01 @tecton @wh-alice
/packages/fx-core/src/component/generator/openApiSpec @tecton @HuihuiWu-Microsoft @Alive-Fish @wh-alice

/packages/fx-core/src/core/middleware/projectMigrationV3 @tecton @wh-alice #To be deleted
/packages/fx-core/src/core/middleware/utils/debug @qinzhouxu @llhmm01 @wh-alice

/packages/fx-core/templates/core/v3Migration @tecton @wh-alice #To be deleted
/packages/fx-core/templates/plugins/resource/aad/ @Alive-Fish @tecton @HuihuiWu-Microsoft @wh-alice

/packages/manifest/ @tecton @HuihuiWu-Microsoft @wh-alice

/packages/sdk @tecton @HuihuiWu-Microsoft @wh-alice #Deprecation: need to follow on 2026.9

/packages/sdk-react @tecton @HuihuiWu-Microsoft @wh-alice #Deprecation: need to follow on 2026.9

/packages/server @HuihuiWu-Microsoft @Alive-Fish @wh-alice

/packages/simpleauth @wh-alice #To be deleted

/packages/spec-parser/ @Alive-Fish @tecton @HuihuiWu-Microsoft @wh-alice

/packages/mcp-server/ @Alive-Fish @tecton @llhmm01 @HuihuiWu-Microsoft @wh-alice

/packages/vscode-extension @tecton @HuihuiWu-Microsoft @wh-alice
/packages/vscode-extension/CHANGELOG.md @summzhan @sffamily
/packages/vscode-extension/package.nls.json @summzhan @sffamily @supkasar
/packages/vscode-extension/PRERELEASE.md @summzhan @sffamily
/packages/vscode-extension/README.md @summzhan @sffamily

/packages/vscode-extension/src/commonlib @HuihuiWu-Microsoft @tecton @wh-alice
/packages/vscode-extension/src/debug @qinzhouxu @llhmm01 @wh-alice
/packages/vscode-extension/src/handlers/accounts @HuihuiWu-Microsoft @tecton @wh-alice
/packages/vscode-extension/src/officeChat @llhmm01 @tecton @wh-alice
/packages/vscode-extension/src/pluginDebugger @qinzhouxu @llhmm01 @wh-alice

/packages/adaptivecards-tools-sdk @llhmm01 @tecton @HuihuiWu-Microsoft @wh-alice